body,p,h1{
    margin: 0;
}

h1{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: #666;
}

button{
    outline: none;
    border: none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

i{
    font-style: normal;
}