.schedule-table{
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        // border-color: #ededed;

        th,td{
            text-align: center;
        }


        th{
            height: 60px;
        }

        td{
            height: 150px;
        }
    }
}