.schedule-card{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #155724;
    background-color: #d4edda;

    .icon{
        font-size: 25px;
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }
    
    p{
        margin: 5px;
    }
}